# Data Engineering Jobs Exploration and Salary Prediction Project based on Glassdoor Listed Jobs 2023

## I. ðŸ§¹ Data Cleaning

In [1]:
import pandas as pd
import numpy as np
import os

### Loading the data from the scraped csv files

The datasets names is composed of the week number of the year and the year they were scraped in. For example "glassdoor-data-engineer-19-2023" was scraped on the 19th week of 2023.

In [2]:
def load_datasets(dir_path):

    dfs = []

    # loop over each file in the directory
    for i, filename in enumerate(os.listdir(dir_path)):
        if filename.endswith('.csv'):  # check if file has .csv extension
            file_path = os.path.join(dir_path, filename)  
            # read the CSV file into a DataFrame and give it a name
            df_name = f'df{i+1}'  # generate a name like 'df1', 'df2', etc.
            df = pd.read_csv(file_path)
            # add the DataFrame to the list
            dfs.append((df_name, df))

    # concatenate all the DataFrames together
    df_list = [df for _, df in dfs]  # extract just the DataFrames
    df = pd.concat(df_list, axis=0)

    return df

In [3]:
dir_path = "../data/raw/"

df = load_datasets(dir_path)
df.shape

(4260, 12)

Let's drop the duplicated job listings from our dataset

In [4]:
df = df.drop_duplicates(subset=['job_description'])
df.shape

(1555, 12)

ðŸ“˜ Let's export this uncleaned raw data and share it publicly on Kaggle

In [5]:
data_path = '../data/kaggle/'

df.to_csv(data_path + "glassdoor-data-engineer-kaggle.csv", index=False)

### Cleaning the Data

Checking the null values

In [6]:
df.isnull().sum()

company               4
company_rating      197
location              1
job_title             1
job_description       1
salary_estimate     278
company_size        113
company_type        113
company_sector      295
company_industry    295
company_founded     424
company_revenue     113
dtype: int64

The most important column is "company", if it's null that means that the job didn't get scraped and therefore the other columns would alsoe be null

In [7]:
df = df.dropna(subset=['company'])

In [8]:
df.isnull().sum()

company               0
company_rating      193
location              0
job_title             0
job_description       0
salary_estimate     277
company_size        112
company_type        112
company_sector      294
company_industry    294
company_founded     423
company_revenue     112
dtype: int64

Cleaning the company name by removing the associated rating

In [9]:
df['company'] = df['company'].apply(lambda x: x.split('\n')[0].strip())
df.head()

,company,company_rating,location,job_title,job_description,salary_estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue
0,PCS Global Tech,4.7,"Riverside, CA",Data Engineer | PAID BOOTCAMP,Responsibilities\r\nÂ· Analyze and organize raw...,"$70,000 /yr (est.)",501 to 1000 Employees,Company - Private,Information Technology,Information Technology Support Services,NaN,Unknown / Non-Applicable
1,Futuretech Consultants LLC,NaN,"Newton, MS",Snowflake Data Engineer,My name is Dileep and I am a recruiter at Futu...,$42.50 /hr (est.),NaN,NaN,NaN,NaN,NaN,NaN
2,Clairvoyant,4.4,Remote,Data Engineer (MDM),Required Skills:\r\nMust have 5-8+ Years of ex...,$67.50 /hr (est.),51 to 200 Employees,Company - Private,Pharmaceutical & Biotechnology,Biotech & Pharmaceuticals,NaN,Unknown / Non-Applicable
3,Apple,4.2,"Cupertino, CA",Data Engineer,"Summary\r\nPosted: Dec 22, 2021\r\nWeekly Hour...",NaN,10000+ Employees,Company - Public,Information Technology,Computer Hardware Development,1976.0,$10+ billion (USD)
4,Skytech Consultancy Services,5.0,"Baltimore, MD",Data Engineer,Description of Work:\r\nTechnical experience i...,$65.00 /hr (est.),1 to 50 Employees,Company - Public,NaN,NaN,NaN,Unknown / Non-Applicable

Correctly formating the salary estimate, and converting the hourly to annually

In [10]:
import re

def clean_salary(salary_string):

    if pd.isnull(salary_string):
        return np.nan
    else:
        match_year = re.search(r'\$(\d{1,3},?\d{0,3},?\d{0,3}) \/yr \(est.\)', salary_string)
        match_hour = re.search(r'\$(\d+(\.\d+)?) \/hr \(est.\)', salary_string)

        if match_year:
            salary_amount = float(match_year.group(1).replace(',', ''))
        elif match_hour:
            hourly_salary = float(match_hour.group(1))
            salary_amount = hourly_salary * 1800
        else:
            salary_amount = np.nan

        return salary_amount

In [11]:
df['salary_estimate'] = df['salary_estimate'].apply(clean_salary)

In [12]:
df['salary_estimate'].head()

0     70000.0
1     76500.0
2    121500.0
3         NaN
4    117000.0
Name: salary_estimate, dtype: float64

Now let's replace the null salary estimates with the mean

In [13]:
df['salary_estimate'].fillna(df['salary_estimate'].mean(), inplace=True)

Let's round the clean salary estimate

In [14]:
df['salary_estimate'] = df['salary_estimate'].round().astype(int)

In [15]:
df.head()

,company,company_rating,location,job_title,job_description,salary_estimate,company_size,company_type,company_sector,company_industry,company_founded,company_revenue
0,PCS Global Tech,4.7,"Riverside, CA",Data Engineer | PAID BOOTCAMP,Responsibilities\r\nÂ· Analyze and organize raw...,70000,501 to 1000 Employees,Company - Private,Information Technology,Information Technology Support Services,NaN,Unknown / Non-Applicable
1,Futuretech Consultants LLC,NaN,"Newton, MS",Snowflake Data Engineer,My name is Dileep and I am a recruiter at Futu...,76500,NaN,NaN,NaN,NaN,NaN,NaN
2,Clairvoyant,4.4,Remote,Data Engineer (MDM),Required Skills:\r\nMust have 5-8+ Years of ex...,121500,51 to 200 Employees,Company - Private,Pharmaceutical & Biotechnology,Biotech & Pharmaceuticals,NaN,Unknown / Non-Applicable
3,Apple,4.2,"Cupertino, CA",Data Engineer,"Summary\r\nPosted: Dec 22, 2021\r\nWeekly Hour...",115173,10000+ Employees,Company - Public,Information Technology,Computer Hardware Development,1976.0,$10+ billion (USD)
4,Skytech Consultancy Services,5.0,"Baltimore, MD",Data Engineer,Description of Work:\r\nTechnical experience i...,117000,1 to 50 Employees,Company - Public,NaN,NaN,NaN,Unknown / Non-Applicable

Extracting the state from the job location

In [16]:
df['location'] = df['location'].astype(str)
df['job_state'] = df['location'].apply(lambda x: x if x.lower() == 'remote' else x.split(', ')[-1])

In [17]:
df.job_state.value_counts()

job_state
Remote           234
CA               167
TX               159
VA                77
United States     58
                ...
NH                 1
Florida            1
Rhode Island       1
ID                 1
Maryland           1
Name: count, Length: 67, dtype: int64

Replacing the 'United States' in job_state with the most common state (the state should not be Remote)

In [18]:
common_states = df.job_state.value_counts().index.tolist()
common_state = next((state for state in common_states if state != 'Remote'), None)
common_state

'CA'

In [19]:
df['job_state']= df['job_state'].replace('United States', common_state)
df.job_state.value_counts()

job_state
Remote          234
CA              225
TX              159
VA               77
NY               57
               ...
HI                1
Florida           1
Rhode Island      1
ID                1
Maryland          1
Name: count, Length: 66, dtype: int64

Replacing company rating null values with median

In [20]:
cr_median = df.company_rating.mean()
cr_median = round(cr_median, 1)
cr_median

3.9

In [21]:
df['company_rating'] = df['company_rating'].fillna(cr_median)

Adding a new column that contains the age of the company

In [22]:
df['company_founded'] = df['company_founded'].fillna(-1)
df['company_founded'] = df['company_founded'].astype(int)

In [23]:
import datetime

today = datetime.datetime.now()

df['company_age'] = df.company_founded.apply(lambda x: x if x < 0 else today.year - x)

df['company_age'].head()

0    -1
1    -1
2    -1
3    47
4    -1
Name: company_age, dtype: int64

Simplifying the job title

In [24]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'data analyst' in title.lower():
        return 'data analyst'
    elif 'machine learning' in title.lower():
        return 'mle'
    else:
        return 'na'

In [25]:
df['job_simp'] = df['job_title'].apply(title_simplifier)
df.job_simp.value_counts()

job_simp
data engineer     1110
na                 414
mle                 10
data analyst         9
data scientist       8
Name: count, dtype: int64

In [26]:
df = df[df['job_simp'] == 'data engineer']

df.job_simp.value_counts()

job_simp
data engineer    1110
Name: count, dtype: int64

In [27]:
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'sr.' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower():
            return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower():
        return 'junior'
    else:
        return 'na'

In [28]:
df['seniority'] = df['job_title'].apply(seniority)
df.seniority.value_counts()

seniority
na        759
senior    349
junior      2
Name: count, dtype: int64

In [29]:
df = df[df['seniority'] != "junior"]

df.seniority.value_counts()

seniority
na        759
senior    349
Name: count, dtype: int64

Extracting relevant skills from job description

In [30]:
prog_languages = ['python', 'java', 'scala', 'go', 'r', 'c', 'c++', 'c#', 'sql', 'rust', 'bash']
cloud_tools = ['aws', 'azure', 'gcp']
viz_tools = ['power bi', 'tableau', 'excel', 'ssis', 'qlik', 'sap', 'looker']
databases = ['sql server', 'nosql', 'postgresql', 'mongodb', 'mysql', 'oracle', 'casandra', 'elasticsearch', 'dynamodb', 'snowflake', 'redis', 'neo4j', 'hive', 'databricks', 'redshift']
big_data = ['spark', 'hadoop', 'flink']
data_tools = ['airflow', 'kafka', 'dbt']
devops = ['gitlab', 'terraform', 'kubernetes', 'docker', 'jenkins', 'ansible']

In [31]:
import re

def extract_keywords(description, keywords):
    pattern = r'\b(?:{})\b'.format('|'.join(map(re.escape, keywords)))
    matches = set(re.findall(pattern, description.lower(), flags=re.IGNORECASE))
    
    return list(matches)

In [32]:
df['job_languages'] = df['job_description'].apply(lambda x: extract_keywords(x, prog_languages))
df['job_cloud'] = df['job_description'].apply(lambda x: extract_keywords(x, cloud_tools))
df['job_viz'] = df['job_description'].apply(lambda x: extract_keywords(x, viz_tools))
df['job_databases'] = df['job_description'].apply(lambda x: extract_keywords(x, databases))
df['job_bigdata'] = df['job_description'].apply(lambda x: extract_keywords(x, big_data))
df['job_datatools'] = df['job_description'].apply(lambda x: extract_keywords(x, data_tools))
df['job_devops'] = df['job_description'].apply(lambda x: extract_keywords(x, devops))

In [42]:
df['job_datatools']

0

Extracting Education from job description

In [33]:
education = ['associate', 'bachelor', 'master', 'phd']

In [34]:
def extract_degree(description, degrees):
    pattern = r'\b(?:{})\b'.format('|'.join(map(re.escape, degrees)))
    matches = re.findall(pattern, description.lower(), flags=re.IGNORECASE)
    
    if matches:
        return matches[0]
    
    return None

In [35]:
df['job_education'] = df['job_description'].apply(lambda x: extract_degree(x, education))

df['job_education'].value_counts()

job_education
bachelor     481
master        77
associate     35
phd            8
Name: count, dtype: int64

In [36]:
df = df[df['job_education'] != "associate"]
df = df[df['job_education'] != "phd"]

df['job_education'].value_counts()

job_education
bachelor    481
master       77
Name: count, dtype: int64

Let's extract the experience needed to apply for the job

In [37]:
import re

def extract_experience(description):
    pattern = r'(?:Experience level|experience|\+).*(?:\n.*)*(\d+|\+)\s*(?:year|years|\+ years|\+ years of experience)'
    matches = re.findall(pattern, description, flags=re.IGNORECASE)
    
    if matches:
        experience = matches[0]
        if experience == '+':
            return "+10 years"
        elif int(experience) < 2:
            return "0-2 years"
        elif int(experience) < 5:
            return "2-5 years"
        elif int(experience) < 10:
            return "5-10 years"
        else:
            return "+10 years"
    else:
        return None

In [38]:
df['job_experience'] = df['job_description'].apply(lambda x: extract_experience(x))

df['job_experience'].value_counts()

job_experience
+10 years     282
5-10 years    169
2-5 years     142
0-2 years     137
Name: count, dtype: int64

Some job listings don't mention the education or years of experience needed.

In [39]:
df.head()

,company,company_rating,location,job_title,job_description,salary_estimate,company_size,company_type,company_sector,company_industry,...,seniority,job_languages,job_cloud,job_viz,job_databases,job_bigdata,job_datatools,job_devops,job_education,job_experience
0,PCS Global Tech,4.7,"Riverside, CA",Data Engineer | PAID BOOTCAMP,Responsibilities\r\nÂ· Analyze and organize raw...,70000,501 to 1000 Employees,Company - Private,Information Technology,Information Technology Support Services,...,na,"[java, sql, python]",[],[],[],[],[],[],None,0-2 years
1,Futuretech Consultants LLC,3.9,"Newton, MS",Snowflake Data Engineer,My name is Dileep and I am a recruiter at Futu...,76500,NaN,NaN,NaN,NaN,...,na,"[sql, c]",[],[ssis],[snowflake],[],[],[],bachelor,2-5 years
2,Clairvoyant,4.4,Remote,Data Engineer (MDM),Required Skills:\r\nMust have 5-8+ Years of ex...,121500,51 to 200 Employees,Company - Private,Pharmaceutical & Biotechnology,Biotech & Pharmaceuticals,...,na,"[sql, python]",[aws],[],[databricks],[spark],[],[],master,0-2 years
3,Apple,4.2,"Cupertino, CA",Data Engineer,"Summary\r\nPosted: Dec 22, 2021\r\nWeekly Hour...",115173,10000+ Employees,Company - Public,Information Technology,Computer Hardware Development,...,na,"[c, python]",[],[tableau],[],[],[],[],None,None
4,Skytech Consultancy Services,5.0,"Baltimore, MD",Data Engineer,Description of Work:\r\nTechnical experience i...,117000,1 to 50 Employees,Company - Public,NaN,NaN,...,na,[sql],[],[tableau],[oracle],[],[],[],bachelor,5-10 years

Exporting the cleaned version of the dataframe as a new data file

In [40]:
data_path = '../data/processed/'

df.to_csv(data_path + "glassdoor-data-engineer-cleaned.csv", index=False)